<div class="large-12 columns">
  <hr/>
  <div class="row">
    <div class="large-6 columns">
      <p><small class="copyright-statement">© Copyright</small></p>
    </div>
    <div class="large-6 columns">
      <p class="right"><small><span class="developed-by">© Desenvolupat per</span> <a href='https://github.com/Wrrzag'>Marc Piñol</a></small></p>
    </div>
    <!-- <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#" id="link_ca">Catala</a></li>
        <li><a href="#" id="link_es">Castella</a></li>
        <li><a href="#" id="link_en">Angles</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div> -->
  </div>
</div>