<div>
  <div class="row">
   
    <div class="right">
      <ul class="right button-group">
        <li><small><a href="#" class="link_ca">Català</a></li> &#160; | &#160;</small>
        <li><small><a href="#" class="link_es">Castellano</a></li> &#160; | &#160;</small>
        <li><small><a href="#" class="link_en">English</a></li> &#160; | &#160;</small>
        <li><small><a href="#" class="link_de">Deutsch</a></li> &#160; | &#160;</small>
        <li><small><a href="#" class="link_fr">Français</a></li></small>
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="large-6">
      <h1><img src="http://placehold.it/494x176&amp;text=[LOGO]" /></h1>
    </div>
  </div> -->

  <div class="contain-to-grid header-section">
 
    <!-- TOPBAR SECTION -->
    <nav class="top-bar important-class" data-topbar>
         
        <!-- TITLE AREA & LOGO -->
      <ul class="title-area">
          <li class="name">
              <img src="http://placehold.it/494x176&amp;text=[LOGO]" />
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul> <!-- END TITLE AREA & LOGO -->
   
      <!-- MENU ITEMS -->
      <section class="top-bar-section">
          <ul class="right">
              <li class="active"><a href="index.php">Home</a></li>
              <li><a href="blog.php">Blog</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Portfolio</a></li>
              <li class="has-dropdown">
                  <a href="#">Services</a>
                  <ul class="dropdown">
                      <li><a href="#">Service #1</a></li>
                      <li><a href="#">Service #2</a></li>
                      <li><a href="#">Service #3</a></li>
                  </ul>
              </li>
              <li><a href="#">Contact</a></li>
          </ul>
      </section> <!-- END MENU ITEMS -->
    </nav> <!-- END TOPBAR SECTION -->
  </div> <!-- END HEADER SECTION -->
 
  <!-- CONTENT FILL WHEN SCROLL = 0 -->
  <div class="header-fill"></div>

  
</div>