<div>
  <div class="calendar-tabs">
    <dl class="tabs" data-tab=""> 
      <dd class="active">
        <a href="#calendar" class="calendar-label">Calendari</a>
      </dd> 
      <dd>
        <a href="#agenda" class="agenda-label">Agenda</a>
      </dd> 
    </dl> 
  </div>
  <div class="tabs-content bgwhite">
    <div class="content active" id="calendar" style="padding:0px;"> 
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=3n7cbm8akqod8a1c78avs9ab7k%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FMadrid" style=" border-width:0 " width="198" height="205" frameborder="0" scrolling="no"></iframe>
    </div> 
    <div class="content" id="agenda" style="padding:0px;"> 
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=3n7cbm8akqod8a1c78avs9ab7k%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FMadrid" style=" border-width:0 " width="198" height="205" frameborder="0" scrolling="no"></iframe>
    </div> 

    <a href="#" class="more-events-label">+ EVENTS</a>
  </div>

  <div class="panel bgwhite">
    <h5 class="links-label">Enllaços</h5>
    <ul class="side-nav">
      <li><a href="#" class="basis-label">Bases</a></li>
      <li><a href="#" class="enrolment-label">Inscripció</a></li>
      <li><a href="#" class="lodging-label">Allotjament</a></li>
      <li><a href="#">Banda Municipal de Lleida</a></li>
      <li><a href="#">La Paeria</a></li>
    </ul>
  </div>

  <div class="calendar-tabs">
    <dl class="tabs" data-tab=""> 
      <dd class="active">
        <a href="#facebook">Facebook</a>
      </dd> 
      <dd>
        <a href="#twitter">Twitter</a>
      </dd> 
    </dl> 
  </div>
  <div class="tabs-content bgwhite">
    <div class="content active" id="facebook" style="padding:0px;"> 
      feisbuc
    </div> 
    <div class="content" id="twitter" style="padding:0px;"> 
      tuiter
    </div> 
  </div>
</div>